.vscode
__pycache__
.mypy_cache
T2T_ViT/lightning_logs/
T2T-ViT/checkpoint_cifar10_T2t_vit_14/
T2T-ViT/vit_shapley/CIFAR_10_data/
T2T_ViT/CIFAR_10_data/
T2T_ViT/pretrained_models/
T2T_ViT/__pycache__/utils.cpython-311.pyc
T2T_ViT/vit_shapley/modules/checkpoints_surrogate